$color_black:#000;
$color_white:#fff;
$color_bluelight:#a3afef;
$color_orange:#fcbe00;
$color_gray:gray;
$color_lightgray:#e1e1e1;
$color_blue:#263c97;
$color_graylight: #a4a4a4;
$color_light:#f5f5f5;
$color_background:linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);